.git
.git/*
doc/sphinx/_*
.idea
doc/assets/qbitkit-logo-rasterized.ai
dist
dist/*
build
build/*
.github
.github/*
.ipynb_checkpoints
.ipynb_checkpoints/*
dist
dist/*
venv
venv/*
Untitled*.ipynb
qbitkit.egg-info
qbitkit.egg-info/*