# D-Wave Dependencies:
#dwave-ocean-sdk
#dimod
#dwavebinarycsp
#dwave-networkx

# Graph Dependencies:
#networkx

# Qiskit:
qiskit
## D-Wave Qiskit:
#dwave-qiskit-plugin
## IBMQ Qiskit:
qiskit-ibmq-provider

# AWS Braket Dependencies:
amazon-braket-sdk
boto3
botocore
awscli
#amazon-braket-ocean-plugin

# General-Purpose:
#matplotlib
numpy==1.19.3
pandas
datetime

# Logging Dependencies:
elasticsearch
#eland

# qbitctl Dependencies
click