# D-Wave Dependencies:
dwave-ocean-sdk
dimod
dwavebinarycsp
minorminer

# Qiskit:
qiskit
## IBMQ Qiskit:
qiskit-ibmq-provider

# AWS Braket Dependencies:
amazon-braket-sdk
amazon-braket-ocean-plugin

# General-Purpose:
numpy
pandas
datetime

# Logging Dependencies:
elasticsearch

# qbitctl Dependencies
click

# D-Wave Qiskit Plugin
dwave-qiskit-plugin