# qbitkit Jupyter Notebook Server Kubernetes Deployment
# Creates deployment `qk-ipynb` with 3 replicas
# Intended for qbitkit developer's internal use
# (c) Copyright 2021 qbitkit. All rights reserved.


apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: qk-ipynb
  name: qk-ipynb
  namespace: default
spec:
  replicas: 3
  selector:
    matchLabels:
      app: qk-ipynb
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      labels:
        app: qk-ipynb
    spec:
      containers:
        - image: us.gcr.io/$PROJECT_ID/qbitkit-notebook:latest
          imagePullPolicy: Always
          name: qbitkit-notebook-1
---
apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  labels:
    app: qk-ipynb
  name: qk-ipynb-hpa-ybsd
  namespace: default
spec:
  maxReplicas: 5
  metrics:
    - resource:
        name: cpu
        targetAverageUtilization: 80
      type: Resource
  minReplicas: 1
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: qk-ipynb