name: update_docs.sh

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install nginx.
      run: |
        sudo apt install -y nginx
    - name: Install qbitkit using script bin/install_without_venv.sh.
      run: |
        cd bin
        bash install_without_venv.sh
    - name: Make a temporary directory to test copying documentation to.
      run: |
        mkdir -p /tmp/docs
    - name: Test script update_docs.sh.
      run: |
        cd bin
        bash update_docs.sh html /tmp/docs
