name: update_site.sh

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install nginx
      run: |
        sudo apt install -y nginx
    - name: Install qbitkit using script bin/install_without_venv.sh
      run: |
        cd bin
        bash install_without_venv.sh
    - name: Make a temporary directory to test copying docs to
      run: |
        mkdir -p /tmp/docs
    - name: Test script bin/update_site.sh
      run: |
        cd bin
        bash update_site.sh html /tmp/docs
